<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default"/>
<f:section name="Main">

    <div class="section-hero-top">
        <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{data.uid}', colPos: '1'}"/>
    </div>

    <div class="section-main">
        <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{data.uid}', colPos: '0'}"/>
    </div>

    {f:cObject(typoscriptObjectPath: 'lib.dynamicContent', data: {colPos: 2}) -> f:variable(name: 'socialContent')}
    <f:if condition="{socialContent}">
        <div class="section-social">
            <div class="frame">
                <div class="frame-container">
                    <div class="frame-inner">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6 col-sm-12">
                                    <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{data.uid}', colPos: '2'}"/>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{data.uid}', colPos: '3'}"/>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </f:if>

    <div class="section-bottom">
        <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{data.uid}', colPos: '4'}"/>
    </div>

</f:section>
</html>
