<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:comment>DropIn Placeholder. Will be rendered after the main menu, inside the wrapping container.</f:comment>
<nav class="header-meta">
    <f:comment>
        <f:if condition="{languagenavigation}">
            <div id="language_menu" class="language-menu">
                <f:for each="{languagenavigation}" as="item">
                    <f:if condition="{data.sys_language_uid} != {item.languageId}">
                        <f:then>
                            <f:if condition="{item.available}">
                                <f:then>
                                    <a href="{item.link}" hreflang="{item.hreflang}" title="{item.title}">
                                        <span>{item.twoLetterIsoCode}</span>
                                    </a>
                                </f:then>
                                <f:else>
                                    <span class="inactive">{item.twoLetterIsoCode}</span>
                                </f:else>
                            </f:if>
                        </f:then>
                        <f:else>
                            <span class="inactive">{item.twoLetterIsoCode}</span>
                        </f:else>
                    </f:if>
                </f:for>
            </div>
        </f:if>
    </f:comment>
    <f:if condition="{theme.enable_search} == '1'">
    <div class="meta-search">
    </div>
    <div id="search-overlay">
        <div id="search-popup">
            <div id="search-popup-close">X</div>
            <form method="get" class="meta-search-form" id="form_kesearch_searchfield" name="form_kesearch_searchfield" action="{f:if(condition: '{data.sys_language_uid} == 0', then: '/suche/', else: '/en/search/')}">
                <input type="text" id="ke_search_searchfield_sword" name="tx_kesearch_pi1[sword]" placeholder="{f:if(condition: '{data.sys_language_uid} == 0', then: 'Ihr Suchbegriff', else: 'Your search phrase')}"/>
                <input type="submit" id="ke_search_searchfield_submit" alt="Find" value="{f:if(condition: '{data.sys_language_uid} == 0', then: 'Suchen', else: 'search')}"/>
            </form>
        </div>
    </div>
    </f:if>
</nav>

</html>
