<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:spaceless>
    <div id="top"></div>
    <div class="body-bg{f:if(condition:theme.navigation.type, then:' body-bg-{theme.navigation.type}')} {f:if(condition:theme.product, then:' product-{theme.product}')}">

        <a class="sr-only sr-only-focusable" href="#page-content">
            <span>{f:translate(key: 'skiptomaincontent', extensionName: 'bootstrap_package')}</span>
        </a>
        <f:render partial="Navigation/Main" arguments="{_all}"/>
        <f:render section="Border" optional="true"/>
        <f:render partial="Navigation/Breadcrumb" arguments="{_all}"/>

        <div id="page-content" class="bp-page-content main-section">
            <!--TYPO3SEARCH_begin-->
            <f:render section="Main"/>
            <!--TYPO3SEARCH_end-->
        </div>

        <footer id="page-footer" class="bp-page-footer">
            <div class="frame">
                <div class="frame-container">
                    <div class="frame-inner">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-4">
                                    <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: theme.footer.uid, colPos: '10'}"/>
                                </div>
                                <div class="col-md-4">
                                    <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: theme.footer.uid, colPos: '11'}"/>
                                </div>
                                <div class="col-md-4">
                                    <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: theme.footer.uid, colPos: '12'}"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <f:render partial="Structure/ScrollTop" arguments="{_all}"/>

    </div>
</f:spaceless>
</html>
