<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:bk2k="http://typo3.org/ns/BK2K/BootstrapPackage/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="Main">

    <f:if condition="{records}">
        <div id="carousel-{data.uid}" class="carousel carousel-{data.pi_flexform.transition} slide " {f:if(condition: data.pi_flexform.interval, then: 'data-interval="{data.pi_flexform.interval}" ')}data-wrap="{f:if(condition:data.pi_flexform.wrap,then:'true',else:'false')}" data-ride="carousel">
            <div class="carousel-inner">
                <f:for each="{records}" as="item" iteration="iteration">
                    <f:variable name="itemStyleColor"><f:if condition="{item.data.background_color}">background-color: {item.data.background_color};</f:if></f:variable>
                    <div class="item{f:if(condition: iteration.isFirst,then:' active')} carousel-item carousel-item-type carousel-item-type-{item.data.item_type}" data-itemno="{iteration.index}" style="{itemStyleColor}">
                        <f:render partial="Carousel/General/BackgroundImage" arguments="{_all}" />
                        <div class="carousel-content">
                            <f:render partial="Carousel/Item/{item.data.item_type -> bk2k:format.upperCamelCase()}" arguments="{_all}" />
                        </div>
                    </div>
                </f:for>
            </div>
            <f:render partial="Carousel/Control/Indicator" arguments="{_all}" />
            <f:render partial="Carousel/Control/Control" arguments="{_all}" />
        </div>
    </f:if>

</f:section>
</html>
