<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="Header" />
<f:section name="Main">

    <blockquote cite="{f:uri.typolink(parameter: data.quote_link)}">
        <f:format.html>{data.bodytext}</f:format.html>
        <f:if condition="{data.quote_source}">
            <footer><f:link.typolink parameter="{data.quote_link}">{data.quote_source}</f:link.typolink></footer>
        </f:if>
    </blockquote>

</f:section>
</html>
