<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:if condition="{records -> f:count()} > 1">
    <a data-slide="prev" role="button" class="laroma-carousel-control laroma-carousel-control-prev" href="#carousel-{data.uid}">
        <span class="laroma-carousel-control-icon laroma-carousel-control-prev-icon">
            <svg version="1.1" id="Ebene_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                viewBox="0 0 20 20" style="enable-background:new 0 0 20 20;" xml:space="preserve">
<path d="M18,9H4.4l6.3-6.3c0.4-0.4,0.4-1,0-1.4s-1-0.4-1.4,0l-8,8C1.2,9.4,1.1,9.5,1.1,9.6C1,9.9,1,10.1,1.1,10.4
	c0.1,0.1,0.1,0.2,0.2,0.3l8,8C9.5,18.9,9.7,19,10,19s0.5-0.1,0.7-0.3c0.4-0.4,0.4-1,0-1.4L4.4,11H18c0.6,0,1-0.4,1-1S18.6,9,18,9z"
/>
</svg>
        </span>
    </a>
    <a data-slide="next" role="button" class="laroma-carousel-control laromo-carousel-control-next" href="#carousel-{data.uid}">
        <span class="laroma-carousel-control-icon laroma-carousel-control-next-icon" src="EXT:laroma/Resources/Public/Icons/pfeil_rechts.svg" width="24" height="24">
            <svg version="1.1" id="Ebene_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                viewBox="0 0 20 20" style="enable-background:new 0 0 20 20;" xml:space="preserve">
<path d="M18.9,10.4c0.1-0.2,0.1-0.5,0-0.8c-0.1-0.1-0.1-0.2-0.2-0.3l-8-8c-0.4-0.4-1-0.4-1.4,0s-0.4,1,0,1.4L15.6,9H2
	c-0.6,0-1,0.4-1,1s0.4,1,1,1h13.6l-6.3,6.3c-0.4,0.4-0.4,1,0,1.4C9.5,18.9,9.7,19,10,19s0.5-0.1,0.7-0.3l8-8
	C18.8,10.6,18.9,10.5,18.9,10.4z"/>
</svg>
        </span>
    </a>
</f:if>
</html>
