//
// Overrides
//

.bg-white, .navbar-default, .navbar-default-transition, .navbar-default-transition.navbar-transition {
  background-color: transparent !important;
}

.navbar-mainnavigation .nav-link-icon, .navbar-mainnavigation .nav-link-text {
  color: #fff;
  text-transform: uppercase;
}

.navbar-mainnavigation .navbar-nav > li > .nav-link:before {
  background: #fff;
}

.navbar-light .navbar-toggler, .navbar-default .navbar-toggler, .navbar-default-transition .navbar-toggler, .navbar-default-transition.navbar-transition .navbar-toggler {
  color: $primary;
}

.frame-header *:last-child {
  margin-bottom: 2rem;
}

.tx-kesearch-pi1 #kesearch_results .result-list-item .hit {
  color: $secondary !important;
}

ul.list-normal {
  li {
    padding-bottom: 0.25rem;
  }
}

.frame {
  padding-top: 5rem;
  padding-bottom: 5rem;

  @include media-breakpoint-only(xs) {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

.frame-space-before-extra-large {
  padding-top: 10rem;
}

.frame-space-after-extra-large {
  padding-bottom: 10rem;
}

.frame-space-before-large {
  padding-top: 7.5rem;
}

.frame-space-after-large {
  padding-bottom: 7.5rem;
}

.frame-space-before-small {
  padding-top: 2.5rem;
  margin-top: 0;
}

.frame-space-after-small {
  padding-bottom: 2.5rem;
  margin-bottom: 0;
}

.frame-space-before-extra-small {
  padding-top: 0;
  margin-top: 0;
}

.frame-space-after-extra-small {
  padding-bottom: 0;
  margin-bottom: 0;
}

.frame-collapsible, .frame-background-none.frame-space-after-none:not(.frame-ruler-after):not(.frame-has-backgroundimage) + .frame-background-none.frame-space-before-none:not(.frame-ruler-before):not(.frame-has-backgroundimage), .frame-background-primary.frame-space-after-none:not(.frame-ruler-after):not(.frame-has-backgroundimage) + .frame-background-primary.frame-space-before-none:not(.frame-ruler-before):not(.frame-has-backgroundimage), .frame-background-secondary.frame-space-after-none:not(.frame-ruler-after):not(.frame-has-backgroundimage) + .frame-background-secondary.frame-space-before-none:not(.frame-ruler-before):not(.frame-has-backgroundimage), .frame-background-light.frame-space-after-none:not(.frame-ruler-after):not(.frame-has-backgroundimage) + .frame-background-light.frame-space-before-none:not(.frame-ruler-before):not(.frame-has-backgroundimage), .frame-background-dark.frame-space-after-none:not(.frame-ruler-after):not(.frame-has-backgroundimage) + .frame-background-dark.frame-space-before-none:not(.frame-ruler-before):not(.frame-has-backgroundimage) {
  margin-top: 0 !important;
}

