//
// Variables
//
//

$theme-color-home: #185f6d;
$theme-color-home-gradient: #531adc;
$theme-color-home-gradient-second: #185f9d;

$theme-color-mobil: #3a8b8c;
$theme-color-mobil-gradient: #46a5a5;
$theme-color-mobil-gradient-second: #3a8b8c;

$theme-color-mare: #53acdc;
$theme-color-mare-gradient: #61bbeb;
$theme-color-mare-gradient-second: #299ccb;

$theme-color-relax: #bf8f1c;
$theme-color-relax-gradient: #e0a734;
$theme-color-relax-gradient-second: #bf8f1c;

$theme-color-zubehoer: #5a5a5a;
$theme-color-zubehoer-gradient: #7f7f7f;
$theme-color-zubehoer-gradient-second: #5a5a5a;

$grey-dark: #5a5a5a;
$grey-darker: #d1d1d1;

$grey: #e5e5e5;
$grey-light: #f9f9f9;

$white: #fff;
$text-color: #7f7f7f;

