@import "functions";
//
// Variables
//
@import "variables";
//
// Import needed Bootstrap Package Files
//
@import "../../../../../../public/typo3conf/ext/bootstrap_package/Resources/Public/Scss/Theme/theme";
@import "overrides";
@import "keyframes";

/*
Theme Farben für die verschiedenen Produkte
*/

$theme-colors: (
        mobil: $theme-color-mobil,
        mare: $theme-color-mare,
        relax: $theme-color-relax,
        zubehoer: $theme-color-zubehoer
);


$theme-colors-gradient: (
        mobil: $theme-color-mobil-gradient,
        mare: $theme-color-mare-gradient,
        relax: $theme-color-relax-gradient,
        zubehoer: $theme-color-zubehoer-gradient
);

$theme-colors-gradient-second: (
        mobil: $theme-color-mobil-gradient-second,
        mare: $theme-color-mare-gradient-second,
        relax: $theme-color-relax-gradient-second,
        zubehoer: $theme-color-zubehoer-gradient-second
);


$imageshadow: 6px 6px 6px rgba(0, 0, 0, 0.3);

html {
  font-size: 16px;
}

body {
  overflow-wrap: break-word;
  overflow-x: hidden;
  color: $text-color;
  max-width: 100vw;
}

strong {
  font-weight: 700;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  color: $secondary;
  hyphens: auto;
}

h2 {
  color: $secondary;
  margin-bottom: 0;
  margin-top: 2rem;
}

.media-list {
  margin-top: 2rem;

  .media {
    margin-bottom: 2rem;

    h4.media-heading {
      text-transform: none;
      font-size: 1.3rem;
      letter-spacing: normal;
    }
  }
}

.frame-header h2 {
  margin-top: 0;
}

.embed-responsive.no-consent:before {
  display: none;
}

p {
  margin-block-end: 1.5rem;
  hyphens: auto;
}

ul {
  padding-left: 1.3rem;
}

.frame-bg-grey {
  background-color: $grey-light;
}

#search-overlay {
  position: fixed;
  z-index: 1003;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  display: none;
}

#search-popup {
  max-width: 600px;
  width: 80%;
  padding: 2rem;
  position: relative;
  top: 40%;
  background: #fff;
  margin: 2rem auto;
  border-radius: 0 0 2rem 0;
}

#search-popup-close {
  position: absolute;
  top: 1rem;
  right: 1.3rem;
  cursor: pointer;
  color: $grey-dark;
  font-weight: bold;
}

a.more-info {
  padding-left: 2rem;
  display: block;
  background-image: url("data:image/svg+xml;charset=UTF-8,<svg version='1.1' id='Ebene_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 20 20' style='enable-background:new 0 0 20 20;' xml:space='preserve'><path fill='#{encodecolor($secondary)}' d='M18.9,10.4c0.1-0.2,0.1-0.5,0-0.8c-0.1-0.1-0.1-0.2-0.2-0.3l-8-8c-0.4-0.4-1-0.4-1.4,0s-0.4,1,0,1.4L15.6,9H2 c-0.6,0-1,0.4-1,1s0.4,1,1,1h13.6l-6.3,6.3c-0.4,0.4-0.4,1,0,1.4C9.5,18.9,9.7,19,10,19s0.5-0.1,0.7-0.3l8-8 C18.8,10.6,18.9,10.5,18.9,10.4z'/></svg>");
  background-size: 1rem;
  background-repeat: no-repeat;
  background-position: 0.25rem;
}

a.button {
  display: inline-block;
  background-color: $secondary;
  background-image: url("data:image/svg+xml;charset=UTF-8,<svg version='1.1' id='Ebene_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 20 20' style='enable-background:new 0 0 20 20;' xml:space='preserve'> <path fill='#{encodecolor($white)}' d='M18.9,10.4c0.1-0.2,0.1-0.5,0-0.8c-0.1-0.1-0.1-0.2-0.2-0.3l-8-8c-0.4-0.4-1-0.4-1.4,0s-0.4,1,0,1.4L15.6,9H2 c-0.6,0-1,0.4-1,1s0.4,1,1,1h13.6l-6.3,6.3c-0.4,0.4-0.4,1,0,1.4C9.5,18.9,9.7,19,10,19s0.5-0.1,0.7-0.3l8-8 C18.8,10.6,18.9,10.5,18.9,10.4z'/></svg>");
  background-repeat: no-repeat;
  background-size: 8%;
  background-position: 90% center;
  border-radius: 0 0 10px 0;
  color: $white;
  padding: 0.6rem 2.4rem 0.6rem 1.2rem;
  text-transform: uppercase;
  font-size: 1rem;
}

.navbar-mainnavigation > .container > .collapse > .navbar-nav:last-child {
  margin: 0 auto;
}

.header-bg {
  position: relative;
  top: 0;
  height: 120px;
  filter: drop-shadow(6px 6px 6px rgba(0, 0, 0, 0.3));
  left: -1070px;
}

.youtube-container iframe {
  width: 100% !important;
}

.header-meta {
  position: relative;
  z-index: 100;
  top: 0;
  right: 0;
  color: $white;

  .language-menu {
    display: inline-block;
    border-right: 1px solid white;
    margin-right: 0.5rem;
    padding-left: 2rem;
    padding-right: 0.5rem;
    text-transform: uppercase;
    background-image: url("data:image/svg+xml;charset=UTF-8,<svg version='1.1' id='Ebene_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 20 20' style='fill: #{encodecolor($white)};enable-background:new 0 0 20 20;' xml:space='preserve'><path d='M10,0.2c-5.4,0-9.8,4.4-9.8,9.8s4.4,9.8,9.8,9.8s9.8-4.4,9.8-9.8S15.4,0.2,10,0.2z M11.1,18.2c-0.2,0-0.4,0-0.6,0.1V14h3 C13,16,12.1,17.5,11.1,18.2z M6.5,14h3v4.2c-0.2,0-0.4,0-0.6-0.1C7.9,17.5,7,16,6.5,14z M1.8,10.5H5c0,0.9,0.1,1.7,0.2,2.5H2.3 C2,12.2,1.8,11.4,1.8,10.5z M8.9,1.8c0.2,0,0.4,0,0.6-0.1V6h-3C7,4,7.9,2.5,8.9,1.8z M13.5,6h-3V1.8c0.2,0,0.4,0,0.6,0.1 C12.1,2.5,13,4,13.5,6z M13.7,7C13.9,7.8,14,8.6,14,9.5h-3.5V7H13.7z M9.5,7v2.5H6C6,8.6,6.1,7.8,6.3,7H9.5z M5,9.5H1.8 C1.8,8.6,2,7.8,2.3,7h2.9C5.1,7.8,5,8.6,5,9.5z M6,10.5h3.5V13H6.3C6.1,12.2,6,11.4,6,10.5z M10.5,13v-2.5H14c0,0.9-0.1,1.7-0.3,2.5 H10.5z M15,10.5h3.2c-0.1,0.9-0.2,1.7-0.5,2.5h-2.9C14.9,12.2,15,11.4,15,10.5z M15,9.5c0-0.9-0.1-1.7-0.2-2.5h2.9 c0.3,0.8,0.5,1.6,0.5,2.5H15z M17.2,6h-2.7c-0.4-1.5-0.9-2.7-1.6-3.7C14.8,3,16.3,4.3,17.2,6z M7,2.3C6.4,3.3,5.8,4.5,5.5,6H2.8 C3.7,4.3,5.2,3,7,2.3z M2.8,14h2.7c0.4,1.5,0.9,2.7,1.6,3.7C5.2,17,3.7,15.7,2.8,14z M13,17.7c0.7-0.9,1.2-2.2,1.6-3.7h2.7 C16.3,15.7,14.8,17,13,17.7z'/></svg>");
    background-position: center left;
    background-repeat: no-repeat;

    a {
      color: $white;

      span {
        font-weight: bold;
      }
    }

    span {
      font-weight: normal;
    }

    a, span {
      padding: 0 0.15rem;
    }
  }

  .meta-search {
    cursor: pointer;
    position: relative;
    top: 0.15rem;
    display: inline-block;
    width: 1.15rem;
    height: 1.15rem;
    color: $white;
    background-image: url("data:image/svg+xml;charset=UTF-8,<svg version='1.1' id='Ebene_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 20 20' style='fill: #{encodecolor($white)}; enable-background:new 0 0 20 20;' xml:space='preserve'> <path d='M19.2,17.8l-4.4-4.4c1.1-1.4,1.7-3.1,1.7-4.9c0-4.4-3.6-8-8-8s-8,3.6-8,8s3.6,8,8,8c1.8,0,3.5-0.6,4.9-1.7l4.4,4.4 c0.2,0.2,0.5,0.3,0.7,0.3s0.5-0.1,0.7-0.3C19.6,18.8,19.6,18.2,19.2,17.8z M2.5,8.5c0-3.3,2.7-6,6-6s6,2.7,6,6s-2.7,6-6,6 S2.5,11.8,2.5,8.5z'/></svg>");
    background-position: center left;
    background-repeat: no-repeat;
  }

  .meta-search-form {

    input {
      font-size: 1.3rem;
      background: transparent;
      display: inline-block;
      border: 1px solid $grey;

      &[type=text] {
        width: 75%;
        background: rgba($white, 0.3);
        margin-right: 1rem;
      }

      &[type=submit] {
        background-color: $grey;
      }

    }
  }

}

.navbar-default {
  transition: all 0.5s;

  &.nav-bg-white {
    background-color: $white !important;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.3);
  }

  .navbar-toggler {
    transition: all 0.3s;

    &.collapsed {
      color: #fff;
    }
  }
}


.navbar-mainnavigation {
  box-shadow: none;
  position: absolute;
  width: 100%;
  height: 120px;
  z-index: 100;
  background: #fff;

  .dropdown-item {

    &.active, &:active {
      background: transparent;
      color: $primary;
    }
  }

  .dropdown-menu:not(.megamenu) {
    border: none;
    border-radius: 0 0 2rem 0;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    padding: 15px 5px;
    min-width: 12rem;

    li {
      border-bottom: 1px solid $grey-light;

      &:last-child {
        border-bottom: none;
      }

      a {
        color: $secondary;

        &.active {
          font-weight: 700;
          background: none;
          text-decoration: underline;
        }
      }
    }
  }

  > .container {

    .navbar-collapse {
      margin-left: 5rem;
    }

    .navbar-nav {

      > .nav-item {

        > a {
          text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
          font-weight: bold;
          font-size: 1rem;
          letter-spacing: 0.2rem;
          z-index: 1001;

          @include media-breakpoint-down(md) {
            text-shadow: none;
          }

          @include media-breakpoint-down(lg) {
            padding-left: 0.5rem !important;
            padding-right: 0.5rem !important;
          }

        }
      }
    }

    .navbar-brand {
      z-index: 1002;

      img {
        max-height: inherit;
        z-index: 1002;
        position: absolute;
      }
    }

  }
}


/*
  Footer
 */
footer {
  background-color: $grey-light;

  .frame-container {

    @include media-breakpoint-only(xs) {
      padding: 0;
    }
  }

  > .frame {
    padding-top: 0;
  }

  h4 {
    font-size: 1.5rem;
  }
}


/*
    Startseite
 */
.section-social {
  //background-color: $grey-light;

  h4, h5 {
    //color: #fff;
  }

  h4 {
    font-size: 1.2rem;
  }

  h5 {
    font-size: 2rem;
  }
}

/**************************************

Slider halbseitig
 */
.frame-inner {
  > .row {

    > .col-6 {

      .frame {
        //padding-top: 0;
        //padding-bottom: 0;

        .frame-container {


          .tx-ws-flexslider {
            margin-top: 2.5rem;
          }
        }
      }


    }

    > .col-6:first-child .frame-container {
      padding-left: 0;
    }

    > .col-6:last-child .frame-container {
      padding-right: 0;
    }
  }
}

.laroma-carousel-control {
  position: absolute;
  bottom: -7rem;
  right: 0;
}

.laroma-carousel-control-prev {
  right: 2.5rem;
}

.laroma-carousel-control-icon {
  height: 1.5rem;
  width: 1.5rem;
  display: block;
}


/************************************************

      Slider Hero
      ***********

 */
.bp-page-content {

  .section-hero-top {
    position: relative;

    .frame-type-header {
      min-height: 35rem;

      @include media-breakpoint-only(xs) {
        min-height: 33.3333333vh;
      }

      .frame-container {
        position: initial;
      }

    }

    .element-header {
      display: inline-block;
      background-color: rgba($primary, 0.5);
      max-width: 50%;
      padding: 2rem 2rem 2rem 2rem;
      border-radius: 0 0 2rem 0;
      color: $white;
      hyphens: auto;

      &.text-right {
        padding-right: calc(50vw - 551px);
        position: absolute;
        background-color: transparent;
        bottom: 0;
        right: 0;
        border-radius: 0;
        padding-left: 4rem;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top left;
        background-image: url("data:image/svg+xml;charset=UTF-8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1588.57 123'><defs><style>.cls-1{fill:#{encodecolor($primary)};opacity: 0.5;fill-rule:evenodd;}</style></defs><g id='Ebene_2' data-name='Ebene 2'><g id='Ebene_1-2' data-name='Ebene 1'><path class='cls-1' d='M54.51,0c-13.8,0-27.68,11.19-31,25L0,123c.13-.14,5.19,0,19,0H1588.57V0Z'/></g></g></svg>");
        max-width: 80vw;

        @include media-breakpoint-down(lg) {
          padding-right: 2rem;
        }

        @include media-breakpoint-only(xs) {
          font-size: 1.3rem;
          padding: 1rem 2rem 1rem 2rem;
        }
      }
    }

    a.more-info {
      color: #fff;
      text-transform: uppercase;
      font-size: 1.2rem;
    }

    .frame:first-child {
      padding-top: 15rem;
      padding-bottom: 10rem;

      .carousel {
        border: 1px dotted $white;
        padding: 5rem 0 3.5rem 0;
        border-radius: 0 0 2rem 0;
        overflow: inherit;

        .laroma-carousel-control {
          position: absolute;
          color: white;
          bottom: -7rem;
          right: 0;
        }

        .laroma-carousel-control-prev {
          right: 2.5rem;
        }

        .laroma-carousel-control-icon {
          height: 1.5rem;
          width: 1.5rem;
          display: block;

          path {
            fill: white;
          }
        }

        .carousel-inner {
          overflow: inherit;

          .carousel-item {
            opacity: 0;
            transition: all 1.5s ease-in-out;
            padding: 3rem;
            max-height: 320px !important;

            .carousel-header {
              color: $secondary;
              text-transform: uppercase;
              font-size: 1rem;
              font-weight: 700;
            }

            .carousel-subheader {
              margin: 1rem 0;
              text-transform: uppercase;
            }

            .carousel-text {
              width: 50%;
              opacity: 0;
              transition: all 1s;
            }

            .carousel-image {
              opacity: 1;
              left: 100vw;
              transition: all 1.5s ease-out;
              width: 100%;
              position: relative;
              bottom: -5rem;


              img {
                max-width: 100%;
                width: 100%;
              }
            }

            &.active {

              opacity: 1;

              .carousel-text {
                opacity: 1;
              }

              .carousel-image {
                opacity: 1;
                left: 2rem;
              }
            }

          }
        }
      }
    }
  }
}

// slider Content rechts
.frame-inner {

  // slider
  .tx-ws-flexslider {

    .flexslider {
      width: 200%;
      background: transparent;
      border: none;
      border-radius: 0;
      -webkit-border-radius: 0;
      margin-bottom: 0;

      .caption-wrapper {
        position: relative;
        padding: 0;
        margin-top: 1rem;

        .caption-text {

          position: relative;
          top: 0;
          left: 0;
          width: 100%;
          background: transparent;
          padding-left: 0;

          .caption-title {
            font-size: 1.3rem;
            letter-spacing: 0.2rem;
            text-transform: uppercase;
            color: $primary;
          }

          .caption-body {

            p {
              margin-bottom: 1.5rem;
            }
          }

        }
      }

      .flex-direction-nav {
        padding-top: 2rem;

        li {
          display: inline-block;
        }

        .flex-prev {
          left: 0;
          background-image: url("data:image/svg+xml;charset=UTF-8,<svg version='1.1' id='Ebene_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 20 20' style='enable-background:new 0 0 20 20;' xml:space='preserve'><path fill='#{encodecolor($secondary)}' d='M18,9H4.4l6.3-6.3c0.4-0.4,0.4-1,0-1.4s-1-0.4-1.4,0l-8,8C1.2,9.4,1.1,9.5,1.1,9.6C1,9.9,1,10.1,1.1,10.4 c0.1,0.1,0.1,0.2,0.2,0.3l8,8C9.5,18.9,9.7,19,10,19s0.5-0.1,0.7-0.3c0.4-0.4,0.4-1,0-1.4L4.4,11H18c0.6,0,1-0.4,1-1S18.6,9,18,9z' /></svg>");

          &:before {
            content: '';
          }

          &.flex-disabled {
            opacity: 1 !important;
            background-image: url("data:image/svg+xml;charset=UTF-8,<svg version='1.1' id='Ebene_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 20 20' style='enable-background:new 0 0 20 20;' xml:space='preserve'><path fill='#{encodecolor($grey)}' d='M18,9H4.4l6.3-6.3c0.4-0.4,0.4-1,0-1.4s-1-0.4-1.4,0l-8,8C1.2,9.4,1.1,9.5,1.1,9.6C1,9.9,1,10.1,1.1,10.4 c0.1,0.1,0.1,0.2,0.2,0.3l8,8C9.5,18.9,9.7,19,10,19s0.5-0.1,0.7-0.3c0.4-0.4,0.4-1,0-1.4L4.4,11H18c0.6,0,1-0.4,1-1S18.6,9,18,9z' /></svg>");
          }
        }

        .flex-next {
          right: -0.5rem;
          background-image: url("data:image/svg+xml;charset=UTF-8,<svg version='1.1' id='Ebene_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 20 20' style='enable-background:new 0 0 20 20;' xml:space='preserve'><path fill='#{encodecolor($secondary)}' d='M18.9,10.4c0.1-0.2,0.1-0.5,0-0.8c-0.1-0.1-0.1-0.2-0.2-0.3l-8-8c-0.4-0.4-1-0.4-1.4,0s-0.4,1,0,1.4L15.6,9H2 c-0.6,0-1,0.4-1,1s0.4,1,1,1h13.6l-6.3,6.3c-0.4,0.4-0.4,1,0,1.4C9.5,18.9,9.7,19,10,19s0.5-0.1,0.7-0.3l8-8 C18.8,10.6,18.9,10.5,18.9,10.4z'/></svg>");

          &:before {
            content: '';
          }
        }

        a {
          position: relative;
          width: 1.5rem;
          height: 1.5rem;
          //border: 1px solid red;
          opacity: 1;
          background-size: contain;
        }
      }
    }
  }
}

// Zitate
.frame-cite-right {
  padding-top: 0;
  padding-bottom: 0;

  .frame-backgroundimage-container {
    width: 50%;
  }

  .frame-container {
    max-width: initial;
    padding-left: 0;
    padding-right: 0;

    blockquote {
      width: 50%;
      left: 50%;
      padding: 4rem 2rem;
      color: #fff;
      background-image: linear-gradient(to top, $secondary 0%, $secondary-gradient 50%);
      border: none;

      @include media-breakpoint-only(xs) {
        width: auto;
        left: 0;
      }

      p {
        max-width: 1140px / 2;
        padding: 2rem;
        font-size: 2rem;
        font-weight: 300;
        line-height: 2.5rem;
      }
    }
  }
}


// Text mit Bild
.textpic-left.textpic-centered-box, .textpic-right.textpic-centered-box {
  margin: 7rem 0 3.5rem;

  @include media-breakpoint-only(xs) {
    margin: 1rem 0;
  }

  .textpic-gallery {
    width: 66.66666666%;
    left: 0;

    @include media-breakpoint-only(xs) {
      width: auto;
      margin-bottom: 0;
      padding-left: 0;
      padding-right: 0;
      box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.3);
    }

    img {
      border-radius: 2rem 0 0 0;
    }
  }

  .textpic-text {
    padding: 2rem;
    position: absolute;
    width: 42%;
    right: 20px;
    background: $grey-light;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.3);

    @include media-breakpoint-only(xs) {

      position: relative;
      width: auto;
      right: 0;
    }
  }
}

.textpic-right.textpic-centered-box {

  @include media-breakpoint-only(xs) {
    width: 100%;
  }

  .textpic-gallery {
    width: 66.66666666%;
    margin-left: 33.3333333%;

    @include media-breakpoint-only(xs) {
      width: auto;
      box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.3);
      margin: 0;
    }
  }

  .textpic-text {
    right: auto;
    left: 20px;

    @include media-breakpoint-only(xs) {
      left: 0;
    }
  }
}


// Text mit zwei Bildern
.frame-text-box-2-images {

  .gallery-row {
    position: relative;
    height: 100%;

    @include media-breakpoint-only(xs) {
      margin-bottom: 3rem;
    }

    .gallery-item-size-2 {
      position: absolute;
      width: 55%;
      max-height: 66.6666666%;

      @include media-breakpoint-only(xs) {
        position: relative;
      }

      @include media-breakpoint-down(md) {
        width: 75%;
      }

      img {
        box-shadow: $imageshadow;
      }

      &:first-child {
        bottom: 0;
        left: 0;

        @include media-breakpoint-only(xs) {
          top: 2rem;
        }
      }

      &:last-child {
        top: 0;
        right: 0;

        @include media-breakpoint-only(xs) {
          position: absolute;
        }
      }
    }
  }
}


// Textbox
.frame-text-box {

  min-height: 50vh;

  .frame-backgroundimage {
    background-position: top center;
  }

  .frame-inner {
    margin: 3.5rem 0 3.5rem 50%;
    background-color: $grey-light;
    width: 50%;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.3);
    padding: 3.5rem;

    @include media-breakpoint-only(xs) {
      width: auto;
      margin: 0;
    }
  }
}


// Teaser für Produktreihen
.card-menu {
  .card-menu-item {
    padding: 1.5rem;

    @include media-breakpoint-only(xs) {
      padding: 1rem 0.7rem;
    }

    .card {
      border: none;
      background: transparent;

      .card-img-top {
        border-radius: 2rem 0 0 0;
      }

      .card-body {
        background-color: rgba($primary, 0.7);
        color: white;
        border-bottom: 0.25rem solid $primary;
        padding: 1rem 1rem 0.5rem 1rem;

        a {
          color: $white;
        }

        a.card-title-link:hover {
          text-decoration: none;
        }

        h3.card-title {
          text-transform: uppercase;
          font-size: 2rem;
          margin-bottom: 0;
          color: white;

          @include media-breakpoint-down(lg) {
            font-size: 1.3rem;
          }

        }
      }
    }
  }
}

.form-page-header {
  margin-bottom: 2rem;
}


/****************************************************

  Frames
 */
.frame-waves-top-right {
  background-image: url('data:image/svg+xml;charset=UTF-8,<svg version="1.1" id="Ebene_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1920 1080" style="enable-background:new 0 0 1920 1080;" xml:space="preserve"><style type="text/css">.st0{opacity:0.1;fill:#{encodecolor($secondary)};}</style><path class="st0" d="M1011,0c55,25,125,123,273,123c163,0,176-58,280-58s183,148,356,148c0-78,0-213,0-213H1011z"/><path class="st0" d="M1371,0c0,0-31,19-31,69s27,89,96,89s194-65,285-65s125,51.1,199,51.1C1920,79,1920,0,1920,0H1371z"/><path class="st0" d="M1501,0c0,0,110,47,203,47s216-34,216-34V0H1501z"/></svg>');
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 100% auto;
}

.frame-waves-top-left {
  background-image: url("data:image/svg+xml;charset=UTF-8,<svg version='1.1' id='Ebene_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 1920 1080' style='enable-background:new 0 0 1920 1080;' xml:space='preserve'><style type='text/css'>.st0{opacity:0.1;fill:#{encodecolor($secondary)}}</style><path class='st0' d='M0,115c0,0,57,50,144,50c95,0,225-101,365-101C677,64,809,0,809,0H0V115z'/><path class='st0' d='M0,197c135,0,223-150,338-150c102,0,146,51,213,51c66.1,0,174-98,174-98H0V197z'/><path class='st0' d='M0,0v36.1C0,36.1,37,57,105,57s152-39,272-39c127,0,174,64,277,64c90,0,255-82,255-82H0z'/></svg>");
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 100% auto;
}

.frame-waves-bottom-right {
  background-image: url("data:image/svg+xml;charset=UTF-8,<svg version='1.1' id='Ebene_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 1920 1080' style='enable-background:new 0 0 1920 1080;' xml:space='preserve'><style type='text/css'>.st0{opacity:0.1;fill:#{encodecolor($secondary)}</style><path class='st0' d='M1920,1080H577c-105-135,8-243,105-242c88.5,0.9,171.1,59.8,337.5,59.8C1201.8,897.8,1317,677,1545,677 c220,0,375,149.5,375,149.5V1080z'/><path class='st0' d='M436,1080c0,0,107-41,174-121s179-129,267-129s253.9,64,406,64c147,0,637-205,637-205v391H436z'/><path class='st0' d='M316.1,1080c0,0,85.7-132.8,255.8-132.8s320.5,87.8,567.3,87.8s349.1-193,493.8-208s287,82.7,287,82.7V1080 H316.1z'/></svg>");
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 100% auto;
}

.frame-waves-bottom-left {
  background-image: url("data:image/svg+xml;charset=UTF-8,<svg version='1.1' id='Ebene_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 1920 1080' style='enable-background:new 0 0 1920 1080;' xml:space='preserve'><style type='text/css'>.st0{opacity:0.1;fill:#{encodecolor($secondary)}</style> <path class='st0' d='M0,1080V807c0,0,47-62,139-62s166,150,298,150s156-100,268-100s306,285,306,285'/><path class='st0' d='M0,921c123,0,214-123,339-122c138,1.1,230,122,362,122s123-61,230-61s186,220,356,220c-250,0-394,0-394,0H0V921 z'/><path class='st0' d='M0,997c0,0,103-85,221-85s182,103,358,103s218-59,358-59c166,0,484,124,484,124H0V997z'/></svg>");
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 100% auto;
}


/**************************************************

 MegaMenu
 */
@include media-breakpoint-up(lg) {

  .mainnavigation-dark {
    .nav-item .nav-link-text {
      color: $secondary;
      transition: color 500ms linear;
      text-shadow: none;
    }
  }

  .navbar-mainnavigation {
    padding-top: 0;
    padding-bottom: 0;

    .navbar-brand {
      //height: 100px;
    }

    .navbar-nav {
      margin-top: 60px;
    }

    .has-megamenu {
      position: static !important;

      &.show {

        .megamenu {
          opacity: 1;
          top: 0;
        }

        .nav-link:before {
          background-color: $secondary;
          transition: background-color 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940);
        }
      }

      .megamenu {
        display: block;
        opacity: 0;
        top: -600px;
        left: 0;
        width: 100vw;
        padding: 140px 20px 20px;
        position: absolute;
        border: none;
        box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.3);
        transition: all 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940);

        .row {
          max-width: 1360px;
          margin: 0 auto;

          .col-md-2 {
            padding: 0;
          }
        }

        .dropdown-item {
          display: block;
          white-space: normal;

          &:hover, &:focus {
            background-color: transparent;
          }

          &.active, &:active {
            background-color: transparent;
            text-decoration: underline;

            .dropdown-text {
              text-decoration: underline;
            }

          }

          .dropdown-text {
            color: $secondary;
            text-transform: uppercase;
            text-align: left;
            margin-bottom: 0.5rem;
            display: block;
            letter-spacing: 0.175rem;
          }

          .megamenu-image {
            border-bottom: 4px solid $secondary;

            img {
              width: 100%;
              height: auto;
            }
          }
        }

        .megamenu-sub {
          padding-top: 0.2rem;

          li {
            padding: 0.15rem 0;
          }
        }

        .product-mobil .dropdown-item {

          .dropdown-text {
            color: $theme-color-mobil;
          }

          .megamenu-image {
            border-color: $theme-color-mobil;
          }
        }

        .product-mare .dropdown-item {
          .dropdown-text {
            color: $theme-color-mare;
          }

          .megamenu-image {
            border-color: $theme-color-mare;
          }
        }

        .product-relax .dropdown-item {
          .dropdown-text {
            color: $theme-color-relax;
          }

          .megamenu-image {
            border-color: $theme-color-relax;
          }
        }

        .product-zubehoer .dropdown-item {
          .dropdown-text {
            color: $theme-color-zubehoer;
          }

          .megamenu-image {
            border-color: $theme-color-zubehoer;
          }
        }


        .megamenu-sub {
          padding-left: 1rem;
          padding-right: 1rem;

          a {
            color: $grey-dark;

            &.active {
              text-decoration: underline;
            }
          }
        }

      }

      .megamenu.product-mobil {

      }

      //.nav-link {
      //  padding-top: 1rem;
      //  padding-bottom: 1rem;
      //}
    }

  }

  .footer-section-meta {
    background: none;
  }

}

@include media-breakpoint-down(lg) {

  .navbar-mainnavigation {

    .has-megamenu {

      .megamenu {

        .dropdown-item {

          .dropdown-text {
            letter-spacing: 0;
            font-size: 0.8rem;
          }
        }
      }
    }
  }
}

//
// Menü mobil
//
@include media-breakpoint-down(md) {

  .navbar-mainnavigation > .container .navbar-nav > .nav-item > a {
    padding-left: 1.2rem !important;
    padding-right: 1.2rem !important;
  }

  .navbar-mainnavigation > .container > .navbar-collapse > .navbar-nav:first-child {
    padding-top: 4rem;
  }

  .navbar-mainnavigation {
    height: auto;

    & > .container {
      //padding: 0;

      .navbar-brand {

        .navbar-brand-logo-normal {
          height: 40px;
        }

        .header-bg {
          top: 12%;
          left: -1160px;

          @include media-breakpoint-down(lg) {
            top: 32%;
          }

          @include media-breakpoint-only(xs) {
            top: 20%;
          }
        }

      }

      .header-meta {
        position: absolute;
        top: 5.5rem;
        right: 1rem;
        opacity: 0;
        transition: all 0.5s;

        .language-menu {
          padding: 0.5rem .5rem 0.5rem 2.2rem;
          border-radius: 0.5rem;
          background-position: 0.5rem;
          background-size: 33%;
          border: 1px solid $grey;
          background-image: url("data:image/svg+xml;charset=UTF-8,<svg version='1.1' id='Ebene_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 20 20' style='fill: #{encodecolor($primary)};enable-background:new 0 0 20 20;' xml:space='preserve'><path d='M10,0.2c-5.4,0-9.8,4.4-9.8,9.8s4.4,9.8,9.8,9.8s9.8-4.4,9.8-9.8S15.4,0.2,10,0.2z M11.1,18.2c-0.2,0-0.4,0-0.6,0.1V14h3 C13,16,12.1,17.5,11.1,18.2z M6.5,14h3v4.2c-0.2,0-0.4,0-0.6-0.1C7.9,17.5,7,16,6.5,14z M1.8,10.5H5c0,0.9,0.1,1.7,0.2,2.5H2.3 C2,12.2,1.8,11.4,1.8,10.5z M8.9,1.8c0.2,0,0.4,0,0.6-0.1V6h-3C7,4,7.9,2.5,8.9,1.8z M13.5,6h-3V1.8c0.2,0,0.4,0,0.6,0.1 C12.1,2.5,13,4,13.5,6z M13.7,7C13.9,7.8,14,8.6,14,9.5h-3.5V7H13.7z M9.5,7v2.5H6C6,8.6,6.1,7.8,6.3,7H9.5z M5,9.5H1.8 C1.8,8.6,2,7.8,2.3,7h2.9C5.1,7.8,5,8.6,5,9.5z M6,10.5h3.5V13H6.3C6.1,12.2,6,11.4,6,10.5z M10.5,13v-2.5H14c0,0.9-0.1,1.7-0.3,2.5 H10.5z M15,10.5h3.2c-0.1,0.9-0.2,1.7-0.5,2.5h-2.9C14.9,12.2,15,11.4,15,10.5z M15,9.5c0-0.9-0.1-1.7-0.2-2.5h2.9 c0.3,0.8,0.5,1.6,0.5,2.5H15z M17.2,6h-2.7c-0.4-1.5-0.9-2.7-1.6-3.7C14.8,3,16.3,4.3,17.2,6z M7,2.3C6.4,3.3,5.8,4.5,5.5,6H2.8 C3.7,4.3,5.2,3,7,2.3z M2.8,14h2.7c0.4,1.5,0.9,2.7,1.6,3.7C5.2,17,3.7,15.7,2.8,14z M13,17.7c0.7-0.9,1.2-2.2,1.6-3.7h2.7 C16.3,15.7,14.8,17,13,17.7z'/></svg>");
          color: $primary;

          a {
            color: $primary;
          }
        }

        .meta-search {
          display: none;
        }

      }

      .col-md-1 {
        display: none;
      }

      .col-md-2 {
        width: 50%;
        display: inline-block;
        padding-left: 0;
        max-width: inherit;
      }

      // Submenu
      .megamenu {
        border: none;
        padding: 0 20px 10px 40px;

        .dropdown-item {
          padding-left: 0;

          > .dropdown-text {
            border-bottom: 2px solid $secondary;
            letter-spacing: 0.175rem;
          }

          .megamenu-image {
            display: none;

            img {
              width: 100% !important;
              height: auto !important;
            }
          }
        }

        .megamenu-sub li a {
          font-weight: normal;
          color: $grey-dark !important;
        }
      }

      .megamenu-sub {
        padding-bottom: 10px;

        li {
          padding-left: 15px;
        }
      }

    }
  }

  .navbar-mainnavigation .dropdown-toggle:after {
    content: ' ';
    height: 15px;
    width: 15px;
    border: none;
    background-image: url("data:image/svg+xml;charset=UTF-8,<svg version='1.1' id='Ebene_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 20 20' style='enable-background:new 0 0 20 20;' xml:space='preserve'> <path fill='#{encodecolor($primary)}' d='M18.9,10.4c0.1-0.2,0.1-0.5,0-0.8c-0.1-0.1-0.1-0.2-0.2-0.3l-8-8c-0.4-0.4-1-0.4-1.4,0s-0.4,1,0,1.4L15.6,9H2 c-0.6,0-1,0.4-1,1s0.4,1,1,1h13.6l-6.3,6.3c-0.4,0.4-0.4,1,0,1.4C9.5,18.9,9.7,19,10,19s0.5-0.1,0.7-0.3l8-8 C18.8,10.6,18.9,10.5,18.9,10.4z'/> </svg>");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .navbar-mainnavigation > .container .navbar-collapse {
    margin: 0;
    padding: 0;
  }

  .bg-white, .navbar-default, .navbar-default-transition, .navbar-default-transition.navbar-transition {
    //background-color: $white !important;

    .nav-item {
      border-bottom: 1px solid $grey;

      &:last-child {
        border-bottom: none;
      }

      a {
        color: $primary !important;
      }

      &.active a {
        font-weight: bold;
        background: none;
      }
    }
  }

  .navbar-collapse {
    //min-height: 100vh;
  }

  .navbar-mainnavigation .nav-link-icon, .navbar-mainnavigation .nav-link-text {
    color: $primary;
  }

  .bp-page-content {

    .section-hero-top {

      min-height: 50vh;

      .frame-type-header {

        .frame-container {

        }

      }

      .element-header {

        &.text-right {
        }
      }

      a.more-info {
      }

      .frame:first-child {
        padding-top: 5rem;

        .carousel {
          border: none;
        }
      }
    }
  }
}

/* Instagram */

.c-socialwall {
  z-index: 0;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  .c-socialwall__item {
    position: relative;
    overflow: hidden;
    flex: 0 0 25%;

    a {
      display: inline-block;
      width: 100%;
      text-align: center;
    }

    img {
      width: 100%;
      height: auto;
      max-height: 100%;
      min-width: 100%;
      -o-object-fit: cover;
      object-fit: cover;
      vertical-align: text-bottom;
    }

    p {
      display: none;
    }
  }
}


@include media-breakpoint-down(md) {

  .bp-page-content .section-hero-top {
    min-height: inherit;
  }

  .scroll-top {
    right: 10px;
    bottom: 10px;
  }

  .col-12, .col-sm-12 {
    padding-left: 0;
    padding-right: 0;
  }
}

/*
Theme Farben für die verschiedenen Produkte
*/
@each $theme-key, $theme-color in $theme-colors {

  .card-menu-item.product-#{$theme-key} {
    .card {
      .card-body {
        background-color: rgba($theme-color, 0.7);
        border-bottom: 5px solid $theme-color;

        .card-title {
          color: $white;
        }
      }
    }
  }

  @include media-breakpoint-down(md) {

    .navbar-mainnavigation > .container .megamenu .product-#{$theme-key} {

      .dropdown-item {
        color: $theme-color !important;

        > .dropdown-text {
          color: $theme-color !important;
          border-bottom: 2px solid $theme-color;
        }
      }

      .megamenu-sub li a {
        //color: $theme-color !important;
      }
    }
  }

  .product-#{$theme-key} {

    h1, h2, h3, h4, h5, h6, a {
      color: $theme-color;
    }

    .scroll-top {
      background-color: $theme-color;
      color: $white;

      .scroll-top-icon {
        color: $white;
      }
    }

    .section-hero-top {

      .frame {
        padding-top: 0;
        padding-bottom: 0;
      }

      .element-header {
        background-color: rgba($theme-color, 0.5);

        &.text-right {
          background-image: url("data:image/svg+xml;charset=UTF-8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1588.57 123'><defs><style>.cls-1{fill:#{encodecolor($theme-color)};opacity: 0.5;fill-rule:evenodd;}</style></defs><g id='Ebene_2' data-name='Ebene 2'><g id='Ebene_1-2' data-name='Ebene 1'><path class='cls-1' d='M54.51,0c-13.8,0-27.68,11.19-31,25L0,123c.13-.14,5.19,0,19,0H1588.57V0Z'/></g></g></svg>");
        }
      }
    }

    a.more-info {
      background-image: url("data:image/svg+xml;charset=UTF-8,<svg version='1.1' id='Ebene_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 20 20' style='enable-background:new 0 0 20 20;' xml:space='preserve'><path fill='#{encodecolor($theme-color)}' d='M18.9,10.4c0.1-0.2,0.1-0.5,0-0.8c-0.1-0.1-0.1-0.2-0.2-0.3l-8-8c-0.4-0.4-1-0.4-1.4,0s-0.4,1,0,1.4L15.6,9H2 c-0.6,0-1,0.4-1,1s0.4,1,1,1h13.6l-6.3,6.3c-0.4,0.4-0.4,1,0,1.4C9.5,18.9,9.7,19,10,19s0.5-0.1,0.7-0.3l8-8 C18.8,10.6,18.9,10.5,18.9,10.4z'/></svg>");
    }

    a.button {
      color: $white;
      background-color: $theme-color;
    }

    .frame-cite-right {

      .frame-container {

        blockquote {
          background-image: linear-gradient(to top, map-get($theme-colors-gradient-second, $theme-key) 0%, map-get($theme-colors-gradient, $theme-key) 50%);
        }
      }
    }

    .frame-waves-top-right {
      background-image: url("data:image/svg+xml;charset=UTF-8,<svg version='1.1' id='Ebene_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 1920 1080' style='enable-background:new 0 0 1920 1080;' xml:space='preserve'><style type='text/css'>.st0{opacity:0.1;fill:#{encodecolor($theme-color)};}</style><path class='st0' d='M1011,0c55,25,125,123,273,123c163,0,176-58,280-58s183,148,356,148c0-78,0-213,0-213H1011z'/><path class='st0' d='M1371,0c0,0-31,19-31,69s27,89,96,89s194-65,285-65s125,51.1,199,51.1C1920,79,1920,0,1920,0H1371z'/><path class='st0' d='M1501,0c0,0,110,47,203,47s216-34,216-34V0H1501z'/></svg>");
    }

    .frame-waves-top-left {
      background-image: url("data:image/svg+xml;charset=UTF-8,<svg version='1.1' id='Ebene_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 1920 1080' style='enable-background:new 0 0 1920 1080;' xml:space='preserve'><style type='text/css'>.st0{opacity:0.1;fill:#{encodecolor($theme-color)}}</style><path class='st0' d='M0,115c0,0,57,50,144,50c95,0,225-101,365-101C677,64,809,0,809,0H0V115z'/><path class='st0' d='M0,197c135,0,223-150,338-150c102,0,146,51,213,51c66.1,0,174-98,174-98H0V197z'/><path class='st0' d='M0,0v36.1C0,36.1,37,57,105,57s152-39,272-39c127,0,174,64,277,64c90,0,255-82,255-82H0z'/></svg>");
    }

    .frame-waves-bottom-right {
      background-image: url("data:image/svg+xml;charset=UTF-8,<svg version='1.1' id='Ebene_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 1920 1080' style='enable-background:new 0 0 1920 1080;' xml:space='preserve'><style type='text/css'>.st0{opacity:0.1;fill:#{encodecolor($theme-color)}</style><path class='st0' d='M1920,1080H577c-105-135,8-243,105-242c88.5,0.9,171.1,59.8,337.5,59.8C1201.8,897.8,1317,677,1545,677 c220,0,375,149.5,375,149.5V1080z'/><path class='st0' d='M436,1080c0,0,107-41,174-121s179-129,267-129s253.9,64,406,64c147,0,637-205,637-205v391H436z'/><path class='st0' d='M316.1,1080c0,0,85.7-132.8,255.8-132.8s320.5,87.8,567.3,87.8s349.1-193,493.8-208s287,82.7,287,82.7V1080 H316.1z'/></svg>");
    }

    .frame-waves-bottom-left {
      background-image: url("data:image/svg+xml;charset=UTF-8,<svg version='1.1' id='Ebene_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 1920 1080' style='enable-background:new 0 0 1920 1080;' xml:space='preserve'><style type='text/css'>.st0{opacity:0.1;fill:#{encodecolor($theme-color)}</style> <path class='st0' d='M0,1080V807c0,0,47-62,139-62s166,150,298,150s156-100,268-100s306,285,306,285'/><path class='st0' d='M0,921c123,0,214-123,339-122c138,1.1,230,122,362,122s123-61,230-61s186,220,356,220c-250,0-394,0-394,0H0V921 z'/><path class='st0' d='M0,997c0,0,103-85,221-85s182,103,358,103s218-59,358-59c166,0,484,124,484,124H0V997z'/></svg>");
    }

    .flex-next:not(.flex-disabled) {
      background-image: url("data:image/svg+xml;charset=UTF-8,<svg version='1.1' id='Ebene_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 20 20' style='enable-background:new 0 0 20 20;' xml:space='preserve'><path fill='#{encodecolor($theme-color)}' d='M18.9,10.4c0.1-0.2,0.1-0.5,0-0.8c-0.1-0.1-0.1-0.2-0.2-0.3l-8-8c-0.4-0.4-1-0.4-1.4,0s-0.4,1,0,1.4L15.6,9H2 c-0.6,0-1,0.4-1,1s0.4,1,1,1h13.6l-6.3,6.3c-0.4,0.4-0.4,1,0,1.4C9.5,18.9,9.7,19,10,19s0.5-0.1,0.7-0.3l8-8 C18.8,10.6,18.9,10.5,18.9,10.4z'/></svg>") !important;
    }

    .flex-prev:not(.flex-disabled) {
      background-image: url("data:image/svg+xml;charset=UTF-8,<svg version='1.1' id='Ebene_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 20 20' style='enable-background:new 0 0 20 20;' xml:space='preserve'><path fill='#{encodecolor($theme-color)}' d='M18,9H4.4l6.3-6.3c0.4-0.4,0.4-1,0-1.4s-1-0.4-1.4,0l-8,8C1.2,9.4,1.1,9.5,1.1,9.6C1,9.9,1,10.1,1.1,10.4 c0.1,0.1,0.1,0.2,0.2,0.3l8,8C9.5,18.9,9.7,19,10,19s0.5-0.1,0.7-0.3c0.4-0.4,0.4-1,0-1.4L4.4,11H18c0.6,0,1-0.4,1-1S18.6,9,18,9z' /></svg>") !important;
    }

    .frame-inner .tx-ws-flexslider .flexslider .caption-wrapper .caption-text .caption-title {
      color: $theme-color;
    }

  }
}


.laromed {

  a {
    color: $secondary;

    &.button {
      color: $white;
    }
  }

  .scroll-top:active, .scroll-top:focus, .scroll-top:hover {
    color: #ffffff;
    background-color: $secondary;
  }

  .header-bg {
    left: -960px;
  }

  .bp-page-content .section-hero-top .element-header.text-right {
    background-image: url("data:image/svg+xml;charset=UTF-8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1588.57 123'><defs><style>.cls-1{fill:#{encodecolor($secondary)};opacity: 0.5;fill-rule:evenodd;}</style></defs><g id='Ebene_2' data-name='Ebene 2'><g id='Ebene_1-2' data-name='Ebene 1'><path class='cls-1' d='M54.51,0c-13.8,0-27.68,11.19-31,25L0,123c.13-.14,5.19,0,19,0H1588.57V0Z'/></g></g></svg>");
  }

  .navbar-mainnavigation > .container .navbar-collapse {
    margin-left: 15rem;
  }

}
