<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:bk2k="http://typo3.org/ns/BK2K/BootstrapPackage/ViewHelpers" data-namespace-typo3-fluid="true">

<f:variable name="headerClass">bp-page-header navbar navbar-mainnavigation navbar-{theme.navigation.style}</f:variable>
<f:variable name="headerClass">{headerClass}{f:if(condition: logo.normal, then:' navbar-has-image')}</f:variable>
<f:variable name="headerClass">{headerClass}{f:if(condition: theme.navigation.type, else:' navbar-top', then:'
    navbar-{theme.navigation.type} navbar-fixed-{theme.navigation.type}')}
</f:variable>
<header id="page-header" class="{headerClass}">
    <div class="container">
        <f:link.page pageUid="{rootPage}" class="navbar-brand navbar-brand-{f:if(condition: logo.normal, then: 'image', else: 'text')}" title="{settings.logo.linktitle}">
            <f:if condition="{logo.normal}">
                <f:then>
                    <img class="header-bg" src="/typo3conf/ext/laroma/Resources/Public/Images/hg-fuer-logo.svg"/>
                    <img class="navbar-brand-logo-normal" src="{f:uri.image(image: logo.normal)}" alt="{logoAlt}" height="{settings.logo.height}" width="{settings.logo.width}">
                    <f:if condition="{logo.inverted}">
                        <img class="navbar-brand-logo-inverted" src="{f:uri.image(image: logo.inverted)}" alt="{logoAlt}" height="{settings.logo.height}" width="{settings.logo.width}">
                    </f:if>

                </f:then>
                <f:else>
                    <span>{siteTitle}</span>
                </f:else>
            </f:if>
        </f:link.page>
        <f:if condition="{mainnavigation}">
            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#mainnavigation" aria-expanded="false" aria-label="{f:translate(key: 'togglenavigation', extensionName: 'bootstrap_package')}">
                <span class="navbar-toggler-icon"></span>
            </button>
            <nav id="mainnavigation" class="collapse navbar-collapse">
                <f:render partial="DropIn/Navigation/MainBefore" arguments="{_all}"/>
                <f:render section="MainNavigation" arguments="{menu: mainnavigation, theme: theme}"/>
            </nav>
            <f:render partial="DropIn/Navigation/MainAfter" arguments="{_all}"/>
        </f:if>
    </div>
</header>

<f:section name="MainNavigation">
        <ul class="navbar-nav">
            <f:for each="{menu}" as="item">
                <li class="nav-item{f:if(condition: item.active, then:' active')}{f:if(condition: item.children, then:' dropdown dropdown-hover')} has-megamenu">
                    <a href="{item.link}" id="nav-item-{item.data.uid}" class="nav-link{f:if(condition: item.children, then:' dropdown-toggle')}" {f:if(condition: item.target, then:'
                    target="{item.target}"')} title="{item.title}"{f:if(condition: item.children, then:'
                    aria-haspopup="true" aria-expanded="false"')}>
                    <f:if condition="{theme.navigation.icon.enable} && {item.icon}">
                        <span class="nav-link-icon">
                            <f:if condition="{item.icon.0.extension} === svg">
                                <f:then>
                                    <bk2k:inlineSvg image="{item.icon.0}" width="{theme.navigation.icon.width}" height="{theme.navigation.icon.height}"/>
                                </f:then>
                                <f:else>
                                    <f:image additionalAttributes="{loading: 'lazy'}" image="{item.icon.0}" alt="{item.icon.0.alternative}" title="{item.icon.0.title}" width="{theme.navigation.icon.width}" height="{theme.navigation.icon.height}"/>
                                </f:else>
                            </f:if>
                        </span>
                    </f:if>
                    <span class="nav-link-text">{item.title}<f:if condition="{item.current}"> <span class="sr-only">(current)</span></f:if></span>
                    </a>
                    <div class="dropdown-menu megamenu" aria-labelledby="nav-item-{item.data.uid}" role="menu">
                        <div class="row">

                            <div class="col-md-1"></div>

                            <f:for each="{item.children}" as="child">
                                        <div class="col-md-2 {f:if(condition: '{child.data.subtitle}', then: 'product product-{child.data.subtitle}')}">
                                            <f:if condition="{child.children}">
                                                <f:then>
                                                    <div class="dropdown-item{f:if(condition: child.active, then:' active')}" {f:if(condition: child.target, then:'target="{child.target}"')}
                                                    title="{child.title}">

                                                </f:then>
                                                <f:else>
                                                    <a href="{child.link}" class="dropdown-item{f:if(condition: child.active, then:' active')}" {f:if(condition: child.target, then:'target="{child.target}"')}
                                                    title="{child.title}">
                                                </f:else>
                                            </f:if>
                                                <span class="dropdown-text">{child.title}<f:if condition="{child.current}"> <span class="sr-only">(current)</span></f:if></span>
                                                <f:if condition="{child.icon}">
                                                    <f:then>
                                                        <div class="megamenu-image">
                                                            <f:image additionalAttributes="{loading: 'lazy'}" image="{child.icon.0}" alt="{child.icon.0.alternative}" title="{child.icon.0.title}" width="{theme.navigation.megamenu.icon.width}c" height="{theme.navigation.megamenu.icon.height}c"/>
                                                        </div>
                                                    </f:then>
                                                    <f:else>
                                                        <f:if condition="{theme.navigation.dropdown.icon.enable} && {child.icon}">
                                                            <span class="dropdown-icon">
                                                                <f:if condition="{child.icon.0.extension} === svg">
                                                                    <f:then>
                                                                        <bk2k:inlineSvg image="{child.icon.0}" width="{theme.navigation.dropdown.icon.width}" height="{theme.navigation.dropdown.icon.height}"/>
                                                                    </f:then>
                                                                    <f:else>
                                                                        <f:image additionalAttributes="{loading: 'lazy'}" image="{child.icon.0}" alt="{child.icon.0.alternative}" title="{child.icon.0.title}" width="{theme.navigation.dropdown.icon.width}" height="{theme.navigation.dropdown.icon.height}"/>
                                                                    </f:else>
                                                                </f:if>
                                                            </span>
                                                        </f:if>
                                                    </f:else>
                                                </f:if>
                                            <f:if condition="{child.children}">
                                                <f:then>
                                                       </div>
                                                </f:then>
                                                <f:else>
                                                    </a>
                                                </f:else>
                                            </f:if>



                                            <f:if condition="{child.children}">
                                                <ul class="megamenu-sub list-unstyled">
                                                    <f:for each="{child.children}" as="grandchild">
                                                        <li>
                                                            <a href="{grandchild.link}" class="{f:if(condition: grandchild.active, then:'active')}">{grandchild.title}</a>
                                                        </li>
                                                    </f:for>
                                                </ul>
                                            </f:if>

                                        </div>
                            </f:for>

                            <div class="col-md-1"></div>
                        </div>
                    </div>
            </li>
        </f:for>
    </ul>
</f:section>
</html>
