<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:f="http://typo3.org/ns/fluid/ViewHelpers"
     xmlns:prod="http://typo3.org/ns/WapplerSystems/WsFlexslider/ViewHelpers">
    <f:layout name="Default" />


    <f:section name="Main">

    <f:flashMessages />

    <div id="flexslider-{uid}" class="flexslider {f:if(condition:settings.templateLayout,then:'layout-{settings.templateLayout}')} {f:if(condition:'{settings.carousel} == \'true\'',then:'carousel')}">
        <ul class="slides">
            <f:for each="{images}" as="item" iteration="iterator">
                <f:render partial="Entry" section="Entry" arguments="{item: item, settings: settings, iterator:iterator}" />
            </f:for>
        </ul>
    </div>

    <div id="flexslider-control flexslider-control-{uid}"></div>

    <prod:pageRenderer.addJsFooterInlineCode name="flexslider-{uid}">

    jQuery(document).ready(function() <f:format.raw>{</f:format.raw>
        jQuery('#flexslider-<f:format.raw value="{uid}" />').flexslider(<f:format.raw>{</f:format.raw>
            animation: "<f:format.raw value="{settings.animation}" />",
            animationLoop: {settings.animationLoop},
            itemMargin: "{settings.itemMargin}",
            easing: "{settings.easing}",
            direction: "{settings.direction}",
            reverse: {settings.reverse},
            smoothHeight: {settings.smoothHeight},
            startAt: {settings.startAt},
            slideshow: {settings.slideshow},
            slideshowSpeed: {settings.slideshowSpeed},
            animationSpeed: {settings.animationSpeed},
            initDelay: {settings.initDelay},
            randomize: {settings.randomize},

            pauseOnAction: {settings.pauseOnAction},
            pauseOnHover: {settings.pauseOnHover},
            useCSS: {settings.useCSS},
            touch: {settings.touch},
            video: {settings.video},

            pauseOnAction: {settings.pauseOnAction},
            pauseOnHover: {settings.pauseOnHover},
            useCSS: {settings.useCSS},
            touch: {settings.touch},
            video: {settings.video},

            controlNav: false,
            directionNav: true,
            prevText: "",
            nextText: "",

            keyboard: {settings.keyboard},
            multipleKeyboard: {settings.multipleKeyboard},
            mousewheel: {settings.mousewheel},
            pausePlay: {settings.pausePlay},
            pauseText: "<f:translate key="pauseText">Pause</f:translate>",
            playText: "<f:translate key="playText">Play</f:translate>",

            controlsContainer: "#flexslider-control-{uid}",
        customDirectionNav: "#flexslider-control-{uid}",
            manualControls: "{settings.manualControls}",
            sync: "{settings.sync}",
            asNavFor: "{settings.asNavFor}",

            itemWidth: {settings.itemWidth},
            itemMargin: {settings.itemMargin},
            minItems: {settings.minItems},
            maxItems: {settings.maxItems},
            move: {settings.move},
            start: function(slider)<f:format.raw>{</f:format.raw>
                    slider.slides.each(function(slideIndex, slide) {
                    slider.addSlide('<li>'+jQuery(slide).html()+'</li>');
                });
             },
            end: function(slider)<f:format.raw>{</f:format.raw>
                    slider.slides.each(function(slideIndex, slide) {
                    slider.addSlide('<li>'+jQuery(slide).html()+'</li>');
                });
            }
        });
    });

    </prod:pageRenderer.addJsFooterInlineCode>

    </f:section>

</div>
